body{
    background-image: url(https://static3.tcdn.com.br/img/img_prod/460977/pre_venda_boneco_homem_aranha_spider_man_advanced_suit_marvel_s_spider_man_ps4_vgm31_escala_1_6_hot__41848_1_20190313160645.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 98vh;
    border: 1px dashed black;
}