table{
    width: 500px;
    width: fit-content;
    position: relative;
}
caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    border: 1px solid black;
    background-color: gray;
    width: max-content;
}
thead,tfoot{
    background-color: gray;
}
thead tr th{
    position: sticky;
    top: -1px;
    background-color: grey;
    border: 1px solid black;
}
tbody tr:nth-child(even){
    background-color: lightgray;
}
tbody tr:nth-child(odd){
    background-color: white;
}
td, th{
    padding: 5px;
}
td.num{
    text-align: right;
}